:root {
    --bg-color: white;
    --bg-color_rgb: 255, 255, 255; /*这里需要填三位数(给rgba用的)*/
    --shadow-color_rgb: 0, 0, 0; /*这里需要填三位数(给rgba用的)*/
    --bg-color2: #f9f9fb; /*背景色2*/
    --sub-theme-color-1: lightgreen; /*副主题色*/
    --sub-theme-color-2: lightblue; /*副主题色2*/
    --font-color: #1b1b1b; /*字体颜色*/
    --icon-color: #1b1b1b; /*图标颜色*/
    --hover-background: #cdcdcd; /*鼠标悬停背景色*/
}
