/**
 * @Description dark主题css变量
 * @Author: erduotong
 * @Date: 2023-11-26 15:17:35
 */
html.dark {
  color-scheme: dark;
  /* Card styles */
  --card-background: #202833;
  --card-shadow: rgba(196, 196, 196, 0.3);
  --card-shadow-hover: rgba(196, 196, 196, 0.15);

  /* Setting card styles */
  --setting-card-background: rgba(0, 0, 0, 0.3);
  --setting-card-shadow: rgba(255, 255, 255, 0.4);

  /* Backgrounds */
  --loading-page-bg-rgba: rgba(21, 21, 21, 0.67);
  --hover-background: rgba(255, 255, 255, 0.1);
  --title-background: rgb(65, 77, 98);
  --background-color-page: #141414;

  /* Search */
  --search-background: #292e37;
  --search-sub-background: #23272f;
  --search-hoving-background: #0095ff;

  /* Shadows */
  --shadow-color: rgba(255, 255, 255, 0.13);

  /* text */
  --text-color-pure: white;
}


