/**
 * @Description light主题css变量
 * @Author: erduotong
 * @Date: 2023-11-26 15:17:18
 */
:root {
  /* Card styles */
  --card-background: #ffffff;
  --card-shadow: rgba(14, 14, 14, 0.3);
  --card-shadow-hover: rgba(14, 14, 14, 0.15);

  /* Setting card styles */
  --setting-card-background: rgba(255, 255, 255, 0.55);
  --setting-card-shadow: rgba(75, 74, 74, 0.16);

  /* Backgrounds */
  --loading-page-bg-rgba: rgba(217, 217, 217, 0.67);
  --hover-background: rgba(28, 28, 28, 0.16);
  --title-background: #ffffff;
  --background-color-page: #f5f5f5;

  /* Search */
  --search-background: #f9f9f9;
  --search-sub-background: white;
  --search-hoving-background: #0095ff;
  --search-shadow: #d4d9e1;

  /* Shadows */
  --shadow-color: rgba(0, 0, 0, 0.13);
}