/**
 * @Description light主题css变量
 * @Author: erduotong
 * @Date: 2023-11-26 15:17:18
 */
:root {
    --loading-page-bg-rgba: rgba(217, 217, 217, 0.67);
    --card-background: #ffffff;
    --card-shadow: rgba(14, 14, 14, 0.24);
    --setting-card-background: rgba(255, 255, 255, 0.55);
    --setting-card-shadow: rgba(75, 74, 74, 0.4)
}
