/**
 * @Description 全局样式入口
 * @Author: erduotong
 * @Date: 2023-11-26 11:09:19
 */
@import "./themes/light.scss";
@import "./themes/dark.scss";

body {
  margin: 0;
  padding: 0;
}
#app{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.use_original_text {
  white-space: pre-wrap;
}