/**
 * @Description 全局样式入口
 * @Author: erduotong
 * @Date: 2023-11-26 11:09:19
 */
@use "./themes/light.scss" as *;
@use "./themes/dark.scss" as *;
@use "./util_style" as *;
@use "./scrollbar"  as *;

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color-page);
}

#app {
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  min-width: 1000px;
  min-height: 100vh;
  background-color: transparent;
}


