.ctrl_menu_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: none;
    margin-right: 1.5vw;
    margin-left: auto;
    margin-top: 1.5vh;
    transition: 0.5s;
}


.ctrl_menu_img {
    width: 2.7vw;
    height: auto;
    filter: drop-shadow(1000vw 0 var(--icon-color));
    transform: translateX(-1000vw)
}


#menu_sidebar {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0.2vw;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.6s;
    height: 100vh;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    box-shadow: 0 0 25px rgba(var(--shadow-color_rgb), 0.5);
    background-color: rgba(var(--bg-color_rgb), 0.8);
}


.open_menu_area {
    transition: 0.5s;

}

/*====================*/
/*各种通用设置*/
.menu_icons {
    min-width: 20px;
    min-height: 20px;
    width: 2vw;
    height: 2vh;
    margin-right: 3px;
    filter: drop-shadow(1000vw 0 var(--icon-color));
    transform: translateX(-1000vw);
}

.menu_dropdown_open_buttons {
    border-radius: 12px;
    min-width: 135px;
    width: 5vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.2vh;
    margin-left: 0.5vw;
    color: var(--font-color);
    padding: 3px;
    font-size: 16px;
    cursor: pointer;
    background: unset;
    border: none;
    min-height: 53px;
}

.menu_dropdown_open_buttons:hover {
    background-color: var(--hover-background);
}

.menu_dropdown_open_buttons:focus {
    outline: none;
    border: 2px solid var(--focus-border);
}

.menu_dropdown_contents {
    position: absolute;
    background-color: var(--bg-color2);
    min-width: 145px;
    box-shadow: 0 12px 20px 3px rgba(var(--shadow-color_rgb), 0.3);
    z-index: 1;
    border-radius: 12px;
    outline: none;
    color: var(--font-color);
    text-align: center;
    margin: 0.5vh 0.5vw;
    padding: 2vh 1vw;
    display: none;
    min-height: 80px;
    max-height: 300px;
    overflow-y: auto;
    transition: 0.5s;
    /*animation: pop_down_and_expand 0.5s;*/ /*todo 动画效果*/
}


.menu_dropdowns .show {
    display: block;
}

.menu_in_dropdown_buttons {
    color: var(--font-color);
    background-color: var(--bg-color2);
    padding: 1vh 16px 16px;
    border-radius: 6px;
    width: 10vw;
    min-width: 135px;
    text-decoration: none;
    display: block;
    border: none;
    cursor: pointer;
    min-height: 53px;
    font-size: 16px;
}


.menu_in_dropdown_buttons:hover {
    background-color: var(--hover-background);
}


.menu_in_dropdown_buttons:focus {
    outline: none;
    border: 2px solid var(--focus-border);
}



