.open_menu_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: none;
    margin-right: 1.5vw;
    margin-left: auto;
    margin-top: 1.5vh;
    transition: 0.5s;

}

.close_menu_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: none;
    margin-right: 1.5vw;
    margin-left: auto;
    margin-top: 1.5vh;
}

.ctrl_menu_img {
    width: 2.7vw;
    height: auto;
}


#menu_sidebar {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0.2vw;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.5s;
    height: 100vh;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    /*毛玻璃 todo 确定是否使用？如果使用的话要考虑兼容性吗？*/
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}

.open_menu_area {
    transition: 0.5s;

}

