.open_menu_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: none;
    margin-right: 1.5vw;
    margin-left: auto;
    margin-top: 1.5vh;
    transition: 0.5s;
}

.close_menu_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: none;
    margin-right: 1.5vw;
    margin-left: auto;
    margin-top: 1.5vh;
}

.ctrl_menu_img {
    width: 2.7vw;
    height: auto;
}


#menu_sidebar {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0.2vw;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.6s;
    height: 100vh;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(var(--bg-color_rgb), 0.8);
}


.open_menu_area {
    transition: 0.5s;

}

/*******************/
/* 下拉按钮 */

.change_theme_btn {
    background-color: unset;
    color: var(--font-color);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* 悬停 &获取焦点时的下拉按钮 */
.change_theme_btn:hover, .change_theme_btn:focus {
    background-color: var(--hover-background);
}

/* 容器 <div> - 需要定位下拉内容 */
.theme_change_dropdown {
    position: relative;
    display: inline-block;
}

#change_theme_btn {
    border-radius: 12px;
    min-width: 130px;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5vh;
    margin-left: 0.5vw;
    background-color: unset;
    color: var(--font-color);
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

#change_theme_btn:hover {
    background-color: var(--hover-background);
}

/* 下拉内容（默认隐藏）*/
.theme_change-dropdown_content {
    display: none;
    position: absolute;
    background-color: var(--bg-color2);
    min-width: 130px;
    box-shadow: 0 12px 20px 3px rgba(var(--shadow-color_rgb), 0.3);
    z-index: 1;
    border-radius: 12px;
    outline: none;
    color: var(--font-color);
    text-align: center;
    transition: 0.5s;
    margin: 0.5vh 0.5vw;
    padding: 2vh 1vw;
}

/* 下拉列表中的button */
.theme_change-dropdown_content button {
    color: var(--font-color);
    background-color: var(--bg-color2);
    padding-top: 1vh;
    border-radius: 6px;
    min-width: 150px;
    text-decoration: none;
    display: block;
}


/* 更改悬停时下拉链接的颜色 */
.theme_change-dropdown_content button:hover {
    background-color: #ddd
}

/* 显示下拉菜单（当用户点击下拉按钮时，使用 JS 将此类添加到 .theme_change-dropdown_content 容器中）*/
.theme_change-dropdown_content.show {
    display: block;
}

/*todo css动画*/